@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
    user-select: none;
    font-family: 'Dosis', sans-serif;
    color: blue;
}

body
{
	background-color: white;
}